html {
    font-family: 'Roboto', sans-serif;
}

/* .color_initial_row {
    background-color: black;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
}                                        sembra non serve più       */

.nav_ham {
    margin-top: 90px;
}

.navbar .btn_style {
    background-color: #212529;
}

.btn_style {
    border-radius: 30px;
    color: white;
    padding: .5rem 1rem;
    border: none;
}


/* navbar modifiche essenziali */

.my_drop {
    position: static;
}

.dropdown-menu {
    border: none;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
}

.dropdown-menu.show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dropdown-item {
    text-align: center;
}

.dropdown-item img {
    display: block;
    width: 100%;
}








/* container-jumbo */

.bg_jumbo {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 7rem;
    color: white;
}

.returnal_cont {
    padding: 250px 0 50px;
}

.returnal_cont img {
    width: 100%;
}

.bg_jumbo .btn_style, .it_takes_two .btn_style  {
    background-color: #CD3D0F;
}

.bg_jumbo button a, .it_takes_two .btn_style a {
    color: white;
    text-decoration: none;
}

.btn_style_padding {
    margin: 1px;
}

.border_buttom:hover {
    border: 1px solid #CD3D0F;
    border-radius: 30px;
    width: 124px;
}


/* cars header */

.card_footer:hover {
    border: 2px solid #0070D1;
    border-radius: 1rem;
    cursor: pointer;
}

.card_footer img {
    max-width: 100%;
    border-radius: 1rem;
    padding: 2px;
}
/* fine HEADER  */



/* MAIN */

/* ecco_la_ps5 */

.ecco_la_ps5 {
    margin-top: 100px;
}

.ps5_section .btn_style {
    background-color: #0070D1;
}

.img_ps5 img {
    max-width: 80%;
}
 
.ps5_instruments img {
    max-width: 50%;
    opacity: 0.4;
}

.ps5_instruments img:hover {
    opacity: 1;
    cursor: pointer;
}

.ps5_instruments .d-flex-column {
    height: 100%;
}

.ps5_instruments .d-flex-column:hover {
    border-bottom: 2px solid #0070D1;
    cursor: pointer;
}


/* it_takes_two */

.it_takes_two_cont {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: cover;
}

.it_takes_two img {
    max-width: 70%;
}
/* 
@media (min-width: 769px) {
    .it_takes_two_cont {
        width: 25%;
    }
} */


/* nuove_uscite */

.nuove_uscite img {
    max-width: 100%;
    border-radius: 20px;
}

/* esplora_ps4 */

.container_ps4 img {
    max-width: 100%;
}

.btn_scopri_di_piu {
    border-radius: 30px;
    border: none;
    background-color: #0070D1;
}


/* playstation_plus */

.playstation_plus {
    background-color: #BEBCBB;
}

.esplora_PSPlus {
    border-radius: 30px;
    border: none;
    color: #0070D1;
    background-color: #D9DADC;
}

.playstation_plus img {
    max-width: 100%;
}

.playstation_plus_l {
    gap: 2rem;
}

.playstation_plus_l img {
    max-width: 50%;
}


/* discont_PSStore */

.discont_PSStore img {
    max-width: 100%;
}


/* ps_now */

.ps_now {
    background-color: #161C3B;
}

.esplora_PSNow {
    border-radius: 30px;
    border: none;
    background-color: white;
    flex-basis: 0;
}

.playstation_now_l {
    gap: 2rem;
}

.playstation_now_l img {
    max-width: 50%;
}

.playstation_now_r img {
    max-width: 70%;
}


/* follow_us */

.follow_us img {
    max-width: 100%;
}


/* link_footer */

.link_footer {
    background-color: #00439C;
}

.link_footer li a {
    color: white;
    text-decoration: none;
}

.link_footer .sie_logo {
    width: 25%;
}

.link_footer ul {
    list-style: none;
}