html {
    font-family: 'Roboto', sans-serif;
}

.color_initial_row {
    background-color: black;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
}

header nav {
    margin-top: 34px;
}

.nav_ham {
    width: 100%;
    height: 500px;
}